@import '~@angular/material/theming';

.model-panel {
  /*width: 200px;*/
  position: fixed;
  right: 5px;
  top: 85px;
  padding: 0;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}
