<mat-toolbar>
    <h1>State Machine - Details</h1>
    <button (click)="onUndo()" [disabled]="!canUndo()" mat-icon-button matTooltip="Undo (Ctrl + Z)"><mat-icon aria-label="Undo">undo</mat-icon></button>
    <button (click)="onRedo()" [disabled]="!canRedo()" mat-icon-button matTooltip="Redo (Ctrl + Shift + Z)"><mat-icon aria-label="Redo">redo</mat-icon></button>
    <button (click)="onSave()" *ngIf="canUndo()" mat-icon-button matTooltip="Save (Ctrl + S)"><mat-icon aria-label="Save">save</mat-icon></button>
    <span class="fill-space"></span>
    <button mat-icon-button (click)="goBack()" matTooltip="Close"><mat-icon aria-label="Close">close</mat-icon></button>
</mat-toolbar>
<div>
  <lib-surface-draw [(scale)]="viewControl.scale"
                   [(offsetX)]="viewControl.offsetX"
                   [(offsetY)]="viewControl.offsetY"
                   (widthChange)="widthChanged($event)"
                   (heightChange)="heightChanged($event)"
                   [(switch)]="viewControl.switch"
                   (down)="onDown($event)"
                   (move)="onMove($event)"
                   (up)="onUp($event)"
                   (wheelRotate)="onWheel($event)"
                   [drawAxises]="true"
                   [drawItems]="drawItems">
  </lib-surface-draw>
</div>
<app-model-tools [stateMachine]="stateMachine"></app-model-tools>
<app-model-properties [commandsData]="commandsData" [stateMachine]="stateMachine" [isEditable]="true"></app-model-properties>
